
*{
    margin: 0px;
    padding: 0px;
}

.headerNavBar{
    background-color: rgb(12, 134, 143);
    width: 100%;
    height: 35px;
    position: fixed;
    z-index: ;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logoYnda{
    color: pink;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:'Yanone Kaffeesatz', sans-serif ;
    font-size: 25px;
    font-weight: 900;
    padding-left: 20px;
    transition: all 1s;
}

.logoYnda:hover{
    cursor: pointer;
color: white
}

.navBar li{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif ;
    list-style-type: none;
    display: inline-block;
    padding-right: 20px;
    transition: all 1s;
    
}


.buttonAnim :hover{
    cursor: pointer;
    font-size: 20px;
    color: pink;
}

.bodyColor{
    background-color: rgb(15, 64, 74);
    background-size: 1400px 1150px;
    background-position:top
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
}


.principalBanner{
    background-color: rgb(255, 192, 203);
    display: flex;
    justify-content: space-between;
    transition: all 1s;
}

.principalBanner :hover{
    cursor: pointer;
    color: rgb(12, 134, 143);
}


.bannerRosa{
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: left;
    display: flex;
    font-size: 48px;
    padding-bottom:50px;
    padding-left: 300px;
    padding-top: 75px;
    font-weight: 800;
    transition: all 1s;
    
}


.tapaDiscoBanner{
    float: right;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.tapaDiscoBanner :hover{
    transform: scale(0.8);
    transition: all 2s;
}



.carruselFull{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    flex-wrap: nowrap;
    transition: all 1s;
}

.carruselFull :hover{
    cursor: pointer;
    width: 450px;
    height: 300px;
}

.carruselOne{
    width: 250px;
    height: 250px;
    padding: 20px;
    transition: all 1s;
    animation-name: caidaGaleriaOne;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}

.carruselTwo{
    width: 400px;
    height: 250px;
    padding: 20px;
    transition: all 1s;
    animation-name: caidaGaleriaTwo;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}

.carruselThree{
    width: 270px;
    height: 250px;
    padding: 20px;
    transition: all 1s;
    animation-name: caidaGaleriaThree;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}


.carruselFour{
    width: 400px;
    height: 250px;
    padding: 20px;
    transition: all 1s;
    animation-name: caidaGaleriaFour;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-timing-function: ease-in;
}


@keyframes caidaGaleriaOne {
    0%{transform: translateY(25px);}
    100% {transform: translateY(0px);}
}

@keyframes caidaGaleriaTwo {
    0%{transform: translateY(-25px);}
    100% {transform: translateY(0px);}
}

@keyframes caidaGaleriaThree {
    0%{transform: translateY(25px);}
    100% {transform: translateY(0px);}
}

@keyframes caidaGaleriaFour {
    0%{transform: translateY(-25px);}
    100% {transform: translateY(0px);}
}









.proximoShow{
    color: white;
    background-color: pink;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 800;
    font-size: 48px ;
    text-align: center;
    padding: 40px;
    margin: 10px 200px;
    
}

.secondaryBannerAnim h3{
background-color: pink;
transition: all 1s;
}
.secondaryBanner :hover{
    cursor: pointer;
    color: rgb(12, 134, 143);
}


.foot{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.pieDePagina{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 134, 143);
    font-family:'Yanone Kaffeesatz', sans-serif; 
    text-align: center;
    color:white
}



